@import url("https://fonts.googleapis.com/css2?family=Saira+SemiCondensed:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  
  margin: 0;
  padding: 0;
  width: 100%;
}
*,
::before,
::after {
  border-width: 0;
}

/* Configuracoes de pagina - Margens */
.margen-esquerda {
  height: 100%;
  width: 5%;
  left: 0;
  background-color: rgba(231, 231, 231, 1);
  position: absolute;
  top: 61px;

}

.margen-direita {
  height: 100%;
  width: 4%;
  right: 0;
  background-color: rgba(231, 231, 231, 1);
  position: absolute;
  top: 61px;

}




/* BarraNav.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #07121F;
  color: white;
  height: 60.6px;
  padding: 0 20px;
  max-width: 100%;
  min-width: 60%;
}

.logo-link {
  text-decoration: none;
}

.logo-image {
  width: 300px;
  height: 210px;
  margin-top: 9px;
  margin-left: 10%;
}

.nav-links {
  display: flex;
  gap: 60px; 
  margin-right: 5%;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  padding: 15px;
  transition: background-color 0.3s;
  position: relative; 
}

.nav-links a::before { 
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border: 2px solid transparent; 
  transition: border-color 0.3s;
  z-index: 1; 
}

.nav-links a:hover {
  background-color: #213041;
}







/* Rodape.css */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#07121F;
  color: white;
  height: 210px;
  bottom: 0px;
  width: 100%;
  min-width: 60%;
  position: absolute;
}

.nav-links-rodape {
  display: flex;
  gap: 60px;
  color: white;
  bottom: 10px;
}

.nav-links-rodape a {
  text-decoration: none;
  color: white;
}





.icon-background {
  position: absolute;
  left: 20%;
  top: 45%;
  width: 60%;
  height: 40%;
  background-size: cover;
  z-index: -1; /* Coloque o ícone no plano de fundo */
}